* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-title: "Pirata One", sans-serif;
  --color-primary: #ffffff;
  --color-primary-0: rgba(255, 255, 255, 0.6);
  --color-secondary: rgba(3, 39, 47, 0.8);
  --color-black: #000000;
  --leter-spacing: 0.3rem;
  --font-size-h1: 3.5rem;
  --font-size-h2: 2rem;
  --font-size-p: 1.5rem;
  --radius: 5px;
  --transition: all 0.3s linear;
}

body {
  height: 100%;
  font-family: var(--ff-primary);
  /* background-image: url("/images/beach-img.jpg"); */
  color: var(--color-primary);
  object-fit: cover;
  position: relative;
  text-align: center;
}
h1 {
  font-family: var(--ff-title);
  font-size: var(--font-size-h1);
  margin: 0;
}

h2 {
  font-size: var(--font-size-h2);
}
p {
  font-size: var(--font-size-p);
  line-height: 2.5rem;
}
/*
  ===================
  background 
  ===================
  */
.img-container {
  height: 100vh;
  width: 100vw;
}
video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*
  ===================
  center container
  ===================
  */

.center-container {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  border-radius: 2px solid red;
}
/* adding an overlay  */
.img-container::after {
  position: absolute;
  content: "";
  background-color: rgb(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
/* hidden map */
#hidden-map {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 10%;
  bottom: 20%;
  z-index: 5;
  transition: var(--transition);
}
#hidden-map:hover {
  transform: scale(5);
  cursor: pointer;
}
.shell {
  position: absolute;
  height: 70px;
  width: 70px;
  left: 20%;
  bottom: 28%;
  z-index: 2;
  transition: var(--transition);
}
.shell:hover {
  transform: scale(2);
  cursor: pointer;
}

.message-bottle {
  position: absolute;
  height: 50px;
  width: 100px;
  right: 15%;
  bottom: 10%;
  z-index: 2;
  transition: var(--transition);
}
.message-bottle:hover {
  transform: scale(2);
  cursor: pointer;
}
.message-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60%;
  height: 100%;
  display: grid;
  place-items: center;
  transform: translate(-50%, -50%);
  color: var(--color-black);
  background-image: url(/images/message2.png);
  background-size: cover;
  z-index: 2;
}
.message-container p {
  width: 50%;
  font-size: 2rem;
  font-weight: bold;
  line-height: 3rem;
}
.close-btn {
  position: absolute;
  top: 15%;
  right: 20%;
  color: var(--color-black);
  font-weight: bold;
  font-size: 3rem;
  background-color: transparent;
  cursor: pointer;
  transition: var(--transition);
}
.close-btn:hover {
  transform: scale(2);
  background-color: transparent;
}
#title {
  padding-top: 3rem;
  margin: auto;
  max-width: 400px;
  letter-spacing: var(--leter-spacing);
}
#description {
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 2px solid red;
}
#instruction {
  padding: 1rem 0;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
button {
  font-size: var(--font-size-p);
  font-family: var(--ff-primary);
  padding: 0.5rem 1.2rem;
  border-radius: 3rem;
  border-color: transparent;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  transition: all 0.3s linear;
}
button:hover {
  background-color: var(--color-primary-0);
  color: var(--color-black);
}

.hidden {
  display: none;
}
/*  inventory section */

.inventory-collection {
  margin: 2rem auto;
  width: 430px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 0.5rem;
}
.inventory-item {
  height: 100px;
  width: 100px;
  border-radius: var(--radius);
  background-color: rgba(255, 255, 255, 0.4);
}

/*
  ===================
  setup for bigger screens
  ===================
  */
@media screen and (min-width: 800px) {
  #instruction {
    padding: 1rem 0;
  }
  #title {
    margin-top: 5rem;
    padding-top: 3rem;
    max-width: 60%;
  }
  #description {
    max-width: 70%;
    margin: 1.5rem auto;
    line-height: 3rem;
    font-size: 2rem;
  }
  .inventory-collection {
    width: 700px;
    margin: auto;
    margin-top: 5rem;
  }
}
